body{
  background-color:#C2DFE3;
}
h1 {
  color:#33658A;
  text-align: center;
  font-family:Georgia;
  text-shadow: 2px 2px white;
}
nav{
  list-style-type:none;
  background-color:white;
  position:fixed;
  left:0;
  top:0;
  width:100%;
}
a{
  text-decoration:none;
  font-family:Georgia;
  color:white;
}
button{
  border:none;
  background-color:#33658A;
  width:115px;
  height:30px;
  transition:width 1s;
}
.navli{
  display:inline;
  padding:8px;
  float:right;
}
button:hover{
  width:125px;
  background-color:#40376E;
}
table, tr, th, td{
  border:solid #33658A;
}
table{
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  width:45%;
}
th{
  font-family:Georgia;
  width:15%;
  padding:10px;
}
tr:hover{
  background-color:#B7C3F3;
}
td{
  Georgia;
}
ul{
  list-style-type:circle;
}
img{
  width:45%;
}
h2{
  color:#33658A;
}
li{
  font-family:Courier New;
}
