body{
  background-color:#A6C48A;
  margin:0;
}
h1 {
  color:#33658A;
  text-align: center;
  font-family:Georgia;
}
nav{
  list-style-type:none;
  background-color:white;
  position:fixed;
  left:0;
  top:0;
  width:100%;
}
a{
  text-decoration:none;
  font-family:Georgia;
  color:white;
}
button{
  border:none;
  background-color:#678D58;
  width:100px;
  height:30px;
  transition:width 1s;
}
li{
  display:inline;
  padding:8px;
  float:right;
}
button:hover{
  width:120px;
}
